* {
  margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	align-content: center;
	color: #17313b;
}

body {
	max-width: 1024px;
	margin: 0 auto;
	background: #f8f3ed;
}

nav {
	padding: 0px 10px;
	font-size: 16px;
	text-align: center;
	color: #c8e0ea;
}

nav a {
  box-sizing: border-box;
  padding: 0 5px;
  font-style: italic;
}

h1 {
	margin-top: 20px;
	text-align: center;
}

div {
	font-size: 22px;
}

.wrapper {
  padding: 30px;
  padding-top: 0;
	background: #fff3e3;
}

a:hover {
	color: #4798b8;
}

h2 {
	margin: 20px 40px;
}

.personal {
  display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
  max-width: 800px;
  margin-left: 75px;
}

img {
  border-radius: 50%;
}

.personal p, .contacts p, .experience p, .skills p {
  height: 30px;
  margin: 5px 0;
}

.key, .value {
  align-self: center;
}

.key {
  font-weight: bold;
}

.contacts, .skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contacts {
	max-width: 550px;
}

#summary p {
  text-indent: 30px;
	text-align: justify;
}

.skills, .projects {
	max-width: 950px;
}

.code-ex {
	padding: 0px 30px;
}

.education {
	display: table;
}

.education td {
  vertical-align: top;
}

.education td:first-child {
  width: 300px;
  font-weight: bold;
}

.education p {
  margin: 10px 0;
}

.projects > * {
  margin-bottom: 30px;
}

.projects p {
  margin-left: 30px;
}

.projects h4 {
  margin-bottom: 10px;
  font-size: 26px;
}

#english h2+p {
  margin-bottom: 10px;
}

#english p:last-child {
  margin-bottom: 30px;
}

footer {
	padding-bottom: 40px;
}
